<<<<<<< HEAD
.form-layout{
    border-radius: 15px;
    width: 500px;
}

.message-text{
    color: white;
=======

.form-layout{

    border-radius: 15px;
    width: 500px;

}

.message-text{

    color: white;

>>>>>>> 94b488100885d27898d2b4af0c64a63b7a8d2d04
}



